@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,800;1,800&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,600;1,600&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,500;1,500&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital@0;1&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=Bebas+Neue&family=Montserrat:ital@0;1&family=Prata&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap");
/*
FONTS

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.aguafina-script-regular {
  font-family: "Aguafina Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


COLORS

White: #FFFFFF;
Lavender: #DFD9FF;
Blue: #2200CB;
Black: #000000;

*/

.hero {
max-width: 1440px;
 background-image: url("images/hero-image.png");
  background-repeat: no-repeat;
}

.body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: #000000;
  width: 450.73px;
}

.body-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #000000;
  width: 223.21px;
}

.signature {
   font-family: "Aguafina Script", display;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.9rem;
  color: #000000;
  width: 73.18px;
}

.signature-title {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.0rem;
  line-height: 1.2rem;
  color: #000000;
  width: 149.72px;
}

.dancer-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #000000;
  width: 245.66px;
}

.footer-links {
   font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.0rem;
  line-height: 1.2rem;
  color: #FFFFFF;
  width: 108.21px;
}

.phone {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  width: 170.56px;
}

.right-footer-links {
   font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.0rem;
  color: #FFFFFF;
  width: 108.21px;
}

.white-btn {
     font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #2200CB;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0%;
  border-radius: 7px;
  margin-bottom: 3.819rem;
  margin-right: 25.75rem;
  background-color: #FFFFFF;
  border: none;
  text-align: center;
  text-decoration: none;
  width: 102px;
  white-space: nowrap;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blue-btn {
     font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0%;
  border-radius: 7px;
  margin-bottom: 3.819rem;
  margin-right: 25.75rem;
  background-color: #2200CB;
  border: none;
  text-align: center;
  text-decoration: none;
  width: 102px;
  white-space: nowrap;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-btn {
     font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #2200CB;
  margin-bottom: 12.96rem;
  margin-right: 12.36rem;
  text-align: center;
  text-decoration: none;
  width: 67.96px;
  white-space: nowrap;
}

.nav {
  max-width: 617px;
}

.logo {
    color: #000000;
    width: 30.64px;
    margin-left: 2.113rem;
}

.logo-white {
    color: #FFFFFF;
    width: 30.64px;
    margin-right: 3.459rem;
}

.hero-text {
   font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 6.4 rem;
  line-height: 7.7rem;
  color: #FFFFFF;
  width: 432.79px;
  display: flex;
    flex-wrap: wrap;
}

.white-h {
font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size:1.6rem;
  line-height: 2.0rem;
  color: #FFFFFF;
  width: 276.529px;
}

.black-h {
font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.0rem;
  line-height: 2.4rem;
  color: #000000;
  width: 331.84px;
}

.blue-h {
font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.0rem;
  line-height: 2.4rem;
  color: #2200CB;
  width: 331.84px;
}

.message-from-director {
  max-width: 617px;
  background-color: #FFFFFF;
}

.quote {
   max-width: 617px;
   background-color: #DFD9FF;
background-image: url("images/ballet-image.png");
}

.faculty {
  max-width: 617px;
  background-color: #FFFFFF;
}

.housing {
  max-width: 617px;
  background-color: #DFD9FF;
}

.btn-footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.0rem;
  line-height: 1.2rem;
  color: #FFFFFF;
  margin-bottom: 6.66rem;
  margin-right: 73.86rem;
  text-align: left;
  text-decoration: none;
  width: 108.21px;
  white-space: nowrap;
}

.ballet-image {
  max-width: 224.77px;
  align-items: right;
}

.naomi-image {
  max-width: 119.64px;
  align-items: left;
}

.bethany-image {
  max-width: 119.647px;
  align-items: center;
}

.jeremy-image {
  max-width: 119.64px;
  align-items: right;
}

.housing-image {
  max-width: 199.63px;
  border-radius: 7px;
}